
Project{
	Name = Steady_Sphere;
	MeshFile = SphereSymmetryBL.msh;
	Equation = Navier-Stokes;
	Discretization = EDG;
}

EquationParameters{
	gamma = 1.4;
	Pr = 0.72;
	Re = 40;
	M_inf = 0.2;	
	U_inf = {1,0,0};
}

NonlinearSolverParameters{
	RelTol = 1.0e-10;
	MaxIt = 100;
	Type = Quasi-Newton;
}

LinearSolverParameters{
	Method = GMRES;
	Restart = 300;
	MaxIt = 300;
	Preconditioner = RILUK;
	K = 0;
	RelTol = 1.0e-4;
	ASOverlap = 0;
	Reorder = true;
	Relax = 0.0;
	Verbosity = IterationDetails;
	Orthog = ICGS;
}



PostProcessingParameters{
	ValuesToSave = rho p M s |Vort|;
	NRefinements = 2;
}



