Project{
	Name = SD7003;
	Equation = Navier-Stokes;
	MeshFile = SD7003AirfoilBL.msh;
	Discretization = HDG;
	OptimizedNodeSpacing = true;
}

EquationParameters{
	gamma = 1.4;
	Pr = 0.72;
	Re = 6e3;
	M_inf = 0.1;
	U_inf = {0.999390827019096,0.034899496702501,0}; # alpha = 2 degrees
}

NonlinearSolverParameters{
	MaxIt = 100;
	RelTol = 1.0e-10;
	Type = Quasi-Newton;
}

LinearSolverParameters{
	RelTol = 1.0e-3;
	MaxIt = 400;
	Restart = 100;
}

PostProcessingParameters{
	ValuesToSave = rho p M s |Vort|;
	NRefinements = 3;
}
