Project{
	Name = Transitional_SD7003;
	Equation = Navier-Stokes;
	MeshFile = SD7003AirfoilBL.msh;
	Discretization = EDG;
	OptimizedNodeSpacing = true;
}

EquationParameters{
	gamma = 1.4;
	Pr = 0.72;
	Re = 2.0e4;
	M_inf = 0.2;
	U_inf = {0.997564050259824,0,0.069756473744125}; # alpha = 4 degrees
}

NonlinearSolverParameters{
	MaxIt = 50;
	RelTol = 1.0e-4;
	Type = Quasi-Newton;
}

LinearSolverParameters{
	RelTol = 1.0e-4;
	Restart = 50;
	MaxIt = 50;
}

UnsteadyParameters{
	SolveUnsteady = true;
	dt = 0.01;
	Nt = 1000;
	Integration = DIRK33;
#	Restart = true;
#	RestartTimestep = 0;
}

PostProcessingParameters{
#	PostProcessOnly = true;
#	ValuesToSave = rho M s |Vort|;
#	StartTimestep = 1000;
#	NRefinements = 2;
}



