
Project{
	Name = rae2822;
	MeshFile = rae2822HO.msh;
	Equation = Euler;
	Discretization = HDG;
	OptimizedNodeSpacing = true;
}

EquationParameters{
	gamma = 1.4;
	Pr = 0.72;
	M_inf = 0.7;	
	U_inf = {1,0,0};
}

NonlinearSolverParameters{
	Type = Quasi-Newton;
	MaxIt = 50;
	RelTol = 1.0e-10;

}

LinearSolverParameters{
	RelTol = 1.0e-3;
	Restart = 200;
	MaxIt = 400;
}

PostProcessingParameters{
	ValuesToSave = rho p M;
	NRefinements = 3;
}



